@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 10px;
}

body {
  font-family: "Barlow Condensed", sans-serif;
}

.wrap {
  height: 100vh;
  background-color: hsl(237, 40%, 49%);
  background-image: url("./assets/bg-desktop.svg");
}

.nav {
  display: flex;
  justify-content: space-evenly;
  color: #ebe4fc;
}

.nav .logo {
  display: flex;
  padding: 3rem 0;
}

.nav .logo h1 {
  padding: 0 1rem;
  font-size: 2.5rem;
}

.nav .links {
  display: flex;
  padding: 3.5rem 0;
}

.nav .links p {
  cursor: pointer;
  font-size: 2rem;
  padding: 0 2rem;
  font-weight: 400;
}

.wrap .content {
  display: flex;
  justify-content: center;
}

.wrap .content .text h1 {
  font-size: 7rem;
  color: #e5ddfa;
}

.wrap .content .text .para {
  padding: 2rem 0;
}

.wrap .content .text .para p {
  font-size: 2.5rem;
  line-height: 1.2;
  padding: 0 1rem;
  color: #cea7e7;
}

.wrap .content .text,
.wrap .content .image {
  margin: 2rem 0rem;
  padding: 0 3.5rem;
}

.wrap .content .image img {
  width: 40rem;
  height: 23rem;
}

.wrap .cards {
  display: flex;
  justify-content: center;
  margin-top: 7rem;
}

.wrap .cards .card-1,
.wrap .cards .card-2,
.wrap .cards .card-3 {
  background-color: #e7daff;
  width: 25rem;
  height: 45rem;
  margin: 0 3rem;
  padding: 1rem 1rem;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-evenly;
  border-radius: 10px 10px 10px 10px;
  box-shadow: 0px 0px 7px 3px rgba(51, 29, 0, 0.3);
  transition: 0.5s;
}

.wrap .cards .card-1:hover,
.wrap .cards .card-2:hover,
.wrap .cards .card-3:hover {
  background-color: #ab8aec;
  color: #f0eef5;
}

.wrap .cards .card-1 h1,
.wrap .cards .card-2 h1,
.wrap .cards .card-3 h1 {
  font-size: 2rem;
  text-align: center;
}

.wrap .cards .card-1 p,
.wrap .cards .card-2 p,
.wrap .cards .card-3 p {
  font-size: 1.8rem;
  text-align: center;
}

.showcase {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  margin: 5rem 0;
}

.showcase .show1,
.showcase .show2,
.showcase .show3 {
  margin: 4rem 0;
  padding: 2rem 2rem;
  width: 60%;
  display: flex;

  justify-content: space-around;
  border-radius: 10px 10px 10px 10px;
  /* box-shadow: 0px 0px 7px 3px rgba(51, 29, 0, 0.3); */
  box-shadow: 0px 0px 7px 3px rgb(218, 214, 243);
}

.showcase .show1 img,
.showcase .show2 img,
.showcase .show3 img {
  width: 30%;
  height: 20rem;
}

.showcase .show1 .content,
.showcase .show2 .content,
.showcase .show3 .content {
  width: 50%;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-evenly;
}

.showcase .show1 .content h1,
.showcase .show2 .content h1,
.showcase .show3 .content h1 {
  font-size: 2.5rem;
}

.showcase .show1 .content p,
.showcase .show2 .content p,
.showcase .show3 .content p {
  letter-spacing: 1.2;
  line-height: 1.4;
  font-size: 1.7rem;
  padding: 1rem 0;
}

.footer {
  display: flex;
  justify-content: center;
  background-color: #9342c5;

  height: 40rem;
  align-items: center;
}

.footer .one,
.footer .second,
.footer .third,
.footer .fourth {
  width: 16%;
  height: 30rem;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: space-evenly;
}

.footer .one h1,
.footer .second h1,
.footer .third h1,
.footer .fourth h1 {
  font-size: 3rem;
  padding: 4rem 0;
  color: #bfa1db;
}

.footer .second p,
.footer .third p,
.footer .fourth p {
  font-size: 1.7rem;
  padding: 1rem 2rem;
  text-align: center;
}

.footer .one i {
  font-size: 2.1rem;
  color: #1e1822;
}

.footer .second,
.footer .third,
.footer .fourth {
  color: rgb(231, 154, 227);
}

.footer .third p,
.footer .fourth p {
  cursor: pointer;
}
